ul>li{
  display: inline-block;
  padding: 4px;
}
.logo{
  border-radius: 50px;
}
header{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: yellow;
  opacity: 0.6;
  width: 100%;
  top: 0;
  margin: 0;
}
nav>ul{
  padding-left: 1000px;
  padding-top: 20px;
}
h1{
  text-align: center;
  padding-top: 20%;
  color: yellow;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}
#bg{
  background-image: url("https://wallpapercave.com/wp/zuiHX0K.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 6%;
}
h2{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}
.res{
  text-align: center;
}
.maseno,.moringa,footer{
  display: flex;
  flex-direction: row;
}
footer{
  text-align: center;
  background-color: yellow;
  margin-bottom: 0;
}
.con{
  padding: 20px;
}
nav>ul>li>a{
  text-decoration: none;
}
footer{
  text-align: center;
}
