ul>li{
  display: inline-block;
  padding: 4px;
}
.logo{
  border-radius: 50px;
}
header{
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: yellow;
  opacity: 0.5;
  width: 100%;
}
nav>ul{
  padding-left: 1000px;
  padding-top: 20px;
}
h1{
  text-align: center;
  padding-top: 20%;
  color: yellow;
}
#bg{
  background-image: url("https://wallpapercave.com/wp/zuiHX0K.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}
h2{
  text-align: center;
}
.res{
  text-align: center;
}
.maseno,.moringa{
  display: flex;
  flex-direction: row;
}
